@use "../colors" as *;
@import "./fonts";


.container {
  display: flex;

  &_c {
    width: 40%;
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 20%;

  }

  &_icon {
    height: 110px;
    margin: 50px;



  }

  &_form {
    @extend .container_c;
    font-family: quicksand, sans-serif;
    padding: 100px;
    justify-content: start;
    align-items: center;
    background: $secondMain;
    box-shadow: -2px 1px 3px 1px rgba($backgroundColor, .5);
    font-size: 2vh;


  }


}
