@import "../colors";
@import "./fonts";


.tc-info {
  border: solid 2px $secondMain;
  border-radius: 10px;
  width: 50%;
  margin: 20px auto auto;
  padding: 10px;
  font-family: quicksand, sans-serif;

  & > h1{
    text-align: center;
  }
}

.text {
  font-family: quicksand, sans-serif;
  color: $fontLight;
  padding: 30px;
  font-size: 20px;

  & > h1 {
    font-family: printFont, serif;
    font-weight: 100;
  }
}


@media (max-width: 768px) {
  .text {
    font-family: quicksand, sans-serif;
    color: $fontLight;
    padding: 30px;
    font-size: 15px;

    & > h1 {
      font-family: printFont, serif;
      font-weight: 100;
      font-size: 25px;
    }
  }

}
