@font-face {
  font-family: 'printFont';
  src: url('../../assets/fonts/Cinzel-VariableFont_wght.ttf') format('truetype');

}

@font-face {
  font-family: 'writtenFont';
  src: url('../../assets/fonts/Tangerine-Regular.ttf') format('truetype'); // Adjust the font file name and format
  font-weight: normal;
  font-style: normal;
}
