@use '../colors' as *;
@import './fonts';

.tc-info {
  border: solid 2px $mainColor;
  border-radius: 10px;
  width: 50%;
  margin: 20px auto auto;
  padding: 10px;
  font-family: quicksand, sans-serif;

  & > h1 {
    text-align: center;
  }
}
