<div class="container">

  <div class="left">
    <div class="description">

      <h2>Sebastian & Anika </h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed augue id turpis facilisis mollis. Fusce
        pharetra, lectus ut volutpat dignissim, turpis neque fermentum magna, a aliquet odio lorem vel odio. </p>

    </div>

    <div class="leftDown">
      <img class="img" src="../../assets/images/placeholder.jpg" alt="">
      <img class="img" src="../../assets/images/placeholder.jpg" alt="">
      <img class="img" src="../../assets/images/placeholder.jpg" alt="">
    </div>

  </div>

  <div class="portfolioImgContainer">
  <img class="img" src="../../assets/images/placeholder.jpg" alt="">
  </div>
</div>



