<div class="container">
  <div class="description">
    <img class="icon_flip icon_r90" src="../../assets/icons/roses.png" alt="">
    <h2>Harry Potter & Wonderwoman </h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed augue id turpis facilisis mollis. Fusce
      pharetra, lectus ut volutpat dignissim, turpis neque fermentum magna, a aliquet odio lorem vel odio. </p>
    <img class="icon_r90" src="../../assets/icons/roses.png" alt="">
  </div>
  <img class="img" src="../../assets/images/placeholder.jpg" alt="">
</div>
<div class="container">
  <div class="description">
    <img class="icon_flip icon_r90" src="../../assets/icons/roses.png" alt="">
    <h2>Gustav Gans & Miss Piggy</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed augue id turpis facilisis mollis. Fusce
      pharetra, lectus ut volutpat dignissim, turpis neque fermentum magna, a aliquet odio lorem vel odio. </p>
    <img class="icon_r90" src="../../assets/icons/roses.png" alt="">
  </div>
  <img class="img" src="../../assets/images/placeholder.jpg" alt="">
</div>

