<div class="image-container">
  <img src="../../assets/images/herosection.jpg" alt="Hauptbild der Sektion">
  <div class="text-overlay">
    <p>capture emotions <br>what words can't express</p>
  </div>
</div>

<call-to-action></call-to-action>

<div class="halfImg-container">
  <img src="../../assets/images/hero2.jpg" alt="Zweites Hauptbild">
  <div class="text">
    <h1>personalisiertes Hochzeitsshooting</h1>
    <p>{{text1}}</p>
  </div>
</div>


Kundenstimmen


Ich bin michel -> über mich


zu den fotos

tipps für eure hochzeit






pls call me







