@use "../../../styles/colors" as *;

.contact-info{
  display: flex;
  color: $fontLight;
  text-shadow: 10px 10px 10px $fontDark ;
  font-family: printFont, serif;
  justify-content: left;
  align-items: center;
  width: 100%;
  min-width: 360px;
  height: 100px;
  border-radius: 25px;
  font-size: 30px;

}

.info-wrapper{
  position: relative;
}

.contactBackground{
  background-image: url("../../../assets/images/kontakthintergrund.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.contact-overlay {
  background-color: rgba($backgroundColor, 0.3);
  border-radius: 2px;
  padding: 5px;
}

@media (max-width: 768px) {
  .contact-info{
    min-width: 350px;
    height: 100px;
    border-radius: 25px;
    font-size: 20px;

  }

  .contact-overlay {
    background-color: rgba($backgroundColor, 0.5);

  }

  .contactBackground{
    background-image: url("../../../assets/images/kontakthintergrundKlein.png");

  }
}


