<!--<img class="backgroundIMG" src="assets/images/kontakthintergrund.jpg" alt="hintergrundbild">-->


<div class="contactBackground">
<div class="container_c">

  <div>
    <div *ngFor="let contactLink of contactLinks" class="container_icon">

      <div class="contact-info">
        <div class="zoomBox">
          <a [href]="contactLink.href" target="_blank" rel="noopener noreferrer">
            <div class="icon-container box-accentColor">
              <svg [attr.width]="contactLink.iconWidth" height="auto">
                <image [attr.xlink:href]="contactLink.iconUrl" width="100%" height="100%"/>
              </svg>
            </div>
          </a>
        </div>
        <div class="contact-overlay">

          {{contactLink.text}}
        </div>
      </div>
    </div>

  </div>
  </div>

  </div>

