
$accentColor:     #EAC435;
$secondAccent:    #931621;
$secondMain:      #A7C4C2;
$mainColor:       #326771;
$backgroundColor: #28464B;
$fontDark:        #OCOE10;
$fontLight:       #FFEEF2;


//#5FB0B7
//#129490
//#81AE9D


//#931621
