@use "./colors" as *;
@import "./general_components/button";
@import "./general_components/images";
@import "./general_components/textContainer";
@import "./general_components/icons";
@import "./general_components/accordion";
@import "./general_components/container";

.box-mainColor {
  background: $mainColor;
}

.box-secondMain {
  background: $secondMain;
}

.box-accentColor {
  background: $accentColor;

  &:hover{
    background: $secondAccent;
  }
}

.box-secondAccent {
  background: $secondAccent;
}

.box-background {
  background: $backgroundColor;
}

.box-fontDark {
  background: $fontDark;
}

.box-fontLight {
  background: $fontLight;
}

