@use "../../../styles/colors" as *;

.footer {
  //position: fixed;
  //left: 0;
  //bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: printFont, serif;
  background: $backgroundColor;
  margin: 0 ;

  &> * > a {
    text-decoration: none;
    color: $fontLight;
    &:hover{
      color: $accentColor;
      cursor: pointer;
    }
  }
}

.link-container {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 8vh;
  padding: 5px;
  //margin: 10px;
  & > div {
    display: flex;
    align-items: center;
  }
  & > div> a {
    text-decoration: none;
    color:  $fontLight;
  }

}
