@use "../../../styles/colors" as *;

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: printFont, serif;
  background: $backgroundColor;

  &>a {
    text-decoration: none;
    color: $fontLight;
    &:hover{
      color: $accentColor
    }
  }
}
