@use '../../../styles/colors' as *;

.icon {
  position: absolute;
  width: 5%;
  height: auto;
  &_r90 {
    @extend .icon;
    rotate: 90deg;
    bottom: 1%;
    left: 0;
  }
  &_flip {
    @extend .icon;
    transform: scaleX(-1);
    top: 1%;
    left: 0;
  }
}

.container {
  position: relative;
  margin: 5%;
  min-height: 30px;
  min-width: 20px;
  display: flex;
  padding: 10px;
  transition: 200ms;
  box-shadow: 1px -1px 30px 1px rgba($backgroundColor, 0.1);

  &:hover {
    box-shadow: 1px -1px 20px 1px rgba($backgroundColor, 0.4);
    transition: 200ms;
  }

  & > * > p {
    padding-left: 10px;
    padding-right: 10px;
  }

  & > .img {
    flex: 1;
  }

  &:nth-child(even) .description {
    order: 2;
  }

  &:nth-child(even) .img {
    order: 1;
  }

  .container:nth-of-type(2n) .description .icon_flip,
  .container:nth-of-type(2n) .description .icon_r90 {
    right: 0;
  }
}

.description {
  & > h2 {
    font-family: scriptin, cursive;
    font-size: 4em;
    letter-spacing: 5px;
    color: $backgroundColor;
    text-align: center;
  }

  & > p {
    font-family: writtenFont, cursive;
    font-size: 3em;
  }
}

.tc-info {
  border: solid 2px $mainColor;
  border-radius: 10px;
  width: 50%;
  margin: 20px auto auto;
  padding: 10px;

  & > h1 {
    text-align: center;
  }
}
